.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;

    &__left {
        font-size: 22px;
        font-weight: bold;
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
