bin/
obj/

/node_modules
/wwwroot/node_modules

*.vsix
mono_crash.*

Generated_Code/
Generated\ Files/

*.appx
*.appxbundle
*.appxupload
*.cab
*.msi
*.msix
*.msm
*.msp


dist/
tmp/

app/**/*.js
app/**/*.js.map

node_modules/
bower_components/

.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
testem.log
typings/

e2e/*.js
e2e/*.map

.DS_Store
.idea/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/
.history
.localhistory/
.vshistory/

*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.rsuser

[Dd]ebug/
[Dd]ebugPublic/
[Dd]ebugPS/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/

x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

publish/
PublishScripts/

project.lock.json
project.fragment.lock.json
artifacts/

healthchecksdb
MigrationBackup/
[Tt]est[Rr]esult*/
TestResult.xml
nunit-*.xml

*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

BenchmarkDotNet.Artifacts/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.JustCode
_TeamCity*
*.dotCover

_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

.cr/
.cr/personal
*.log
*.tmp
*.cachefile
*.[Cc]ache
!*.[Cc]ache/
!?*.[Cc]ache/

*.pidb
*.svclog
*.scc
*.vspscc
*.vssscc

$tf/
*.gpState
